{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    ["module-resolver", {
       "alias": { 
        "src": "./src",
        "config": "./src/config",
        "controllers": "./src/controllers",
        "models": "./src/models",
        "providers": "./src/providers",
        "routes": "./src/routes",
        "services": "./src/services",
        "utils": "./src/utils",
        "validations": "./src/validations"
      }
    }]
  ]
}