<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link rel="stylesheet" href="css/home.css">
  <%- include('layout/css-layout.ejs') %>
  <link rel="stylesheet" href="css/financial-report.css">
</head>
<body >

  <%- include('layout/header.ejs') %>

  <h2>Báo cáo doanh thu</h2>

  <table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            
            <th class="th-list">Từ ngày: 1/1/2023</th>
            <th colspan="13" class="th-list th-title">Báo cáo doanh thu 12 tháng</th>
            
        </tr>
      <tr>
        <th class="th-list"></th>
        <th class="th-list">1/2023</th>
        <th class="th-list">2/2023</th>
        <th class="th-list">3/2023</th>
        <th class="th-list">4/2023</th>
        <th class="th-list">5/2023</th>
        <th class="th-list">6/2023</th>
        <th class="th-list">7/2023</th>
        <th class="th-list">8/2023</th>
        <th class="th-list">9/2023</th>
        <th class="th-list">10/2023</th>
        <th class="th-list">11/2023</th>
        <th class="th-list">12/2023</th>
        <th class="th-list th-sum">Tổng doanh thu của cả 12 tháng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Doanh thu</td>
        <td>100000</td>
        <td>200000</td>
        <td>300000</td>
        <td>400000</td>
        <td>500000</td>
        <td>600000</td>
        <td>700000</td>
        <td>800000</td>
        <td>900000</td>
        <td>1000000</td>
        <td>1100000</td>
        <td>1200000</td>
        <td class="td-sum">400000</td>
            
        
      </tr>
    </tbody>
    <tfoot>
  
  </table>


 
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="plugins/jszip/jszip.min.js"></script>
  <script src="plugins/pdfmake/pdfmake.min.js"></script>
  <script src="plugins/pdfmake/vfs_fonts.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="dist/js/demo.js"></script>

<!-- <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script> -->
</body>
</html>