.th-title {
    background-color: #04AA6D;
    color: white;
    text-align: center;
}
.th-sum{
    color: red;
    background-color: #ff9e99b2;
}
.td-sum{
    color: red;
    background-color: #ff9e99b2;
}